* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    flex-direction: row;
    align-items: flex-start;
    /* To avoid stretching */
    margin-bottom: 20px;
}