* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Left side form content*/
.content img {
    float: left;
    width: 525px;
    height: 850px;
}


/*Right side form content */

.right {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    border: 2px solid salmon;
}

.form-content {

    border: 2px solid yellow;
    margin-bottom: 16px;

}

.bottom-section {
    border: 2px solid blue;
}

.sign-up-header {
    border: 2px solid lawngreen;
    margin-bottom: 15px;
}

div>label {
    font-size: 0.7rem;
}